<section id="contacto" class="pt-5">
      <h3 class="text-center" >CONTACTO</h3>
      <div class="row mx-auto col-12 col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xl-9 col-xxl-8">
          <form class="formulario bg-dark text-white" action="#" method="post">
              <div class="casilla1">
                  <label for="name" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="name" placeholder="">
              </div>
              <div class="casilla2 pt-1 pb-2">
                  <label for="subject" class="form-label">Asunto</label>
                  <input type="text" class="form-control" id="subject" placeholder="">
              </div>
                  <div class="form-group pt-1 pb-2">
                      <label for="exampleFormControlTextarea1">Mensaje</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                    </div>
              <div class="button pt-1 pb-2">
                  <button type="submit" id="enviar" class="btn btn-black text-white mb-3">Enviar</button>
              </div>
          </form>
      </div>
</section>
