<h1 class="pt-5 pb-5">Proyectos</h1>


<div class = "row">
<div class="card col-m-4 col-lg-4 col-xl-4 col-xxl-4">
  <img src="<%= asset_path 'tarjeta14.png' %>" class="card-img-top" alt="Portada viajes chile">
  <div class="card-body">
    <h5 class="card-title">Viajes Chile</h5>
    <p class="card-text">Prueba viajes Chile Desafío Latam.</p>
    <a href="https://ricardose14.github.io/Prueba-Viajes-Chile/" class="btn btn-dark">Ver más</a>
  </div>
</div>

<div class="card col-m-4 col-lg-4 col-xl-4 col-xxl-4">
  <img src="<%= asset_path 'tarjeta21.png' %>" class="card-img-top" alt="Portada San Pedro">
  <div class="card-body">
    <h5 class="card-title">San Pedro de Atacama</h5>
    <p class="card-text">Mockup One page</p>
    <a href="https://ricardose14.github.io/Mockup_San_Pedro/" class="btn btn-dark">Ver más</a>
  </div>
</div>

<div class="card col-m-4 col-lg-4 col-xl-4 col-xxl-4">
  <img src= "<%= asset_path 'tarjeta23.png' %>" class="card-img-top" alt="Portada Delizia">
  <div class="card-body">
    <h5 class="card-title">Delizia</h5>
    <p class="card-text">Mockup Menu restorant</p>
    <a href="https://ricardose14.github.io/Mockup_One_Page_Delizia/" class="btn btn-dark">Ver más</a>
  </div>
</div>
</div>